= form_tag(tracks_path, :method => "get", id: "search-form") do
  = text_field_tag :search, params[:search], placeholder: "Search tracks"
  = submit_tag "Search"
  - if @track.present?
    = link_to_function "Clear", "$('search_field').clear()"
  - else
    = "There are no Track match with '#{params[:search]}'."
