//= render :partial => "tracks/search" 
- if user_signed_in?
-else
  = render 'layouts/header'
.row.col-md-12
  - @tracks.each do |track|
    .sound-content.gutter.col-md-2.col-sm-4.col-lg-3
      .name_user
        = track.user.firstname
        = track.user.lastname
      = link_to track_path(track.id) do
        .covermusic
          = image_tag track.avatar.url, class: 'img-responsive'
      %p
      / /* audio player */
      .audio-player
        .bbplayer
          %span.bb-rewind
          %span.bb-play
          %span.bb-forward
          %span.bb-trackTime
          %span.bb-trackLength
          %span.bb-trackTitle
          %audio
            %source{:src => "#{track.audio.url}"}
            %source{:src => "#{track.audio.url}"}
      / /* commentaire */
      .comment_track
      / /* bouton pour supprimer */
      .sound-footer
      - if user_signed_in?
        %p.like-delete
          .btn.btn-circle-micro.btn-primary.glyphicon
            %span= link_to "", like_track_path(track), method: :put, class: 'glyphicon-thumbs-up'
          = track.score
          %a.btn.btn-circle-micro.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#aboutModal"}
            %span.glyphicon.glyphicon-comment
          = track.comments.size
          #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} X
                  %h4#myModalLabel.modal-title Commentaire:
                .modal-body
                  %center
                    %br/
                    %h3.media-heading 
                      - if user_signed_in?
                        = render 'comments/new', locals: {track: track}
                      - else
                .modal-footer
                  %center
                    %button.btn.btn-circle.btn-default{"data-dismiss" => "modal", :type => "button"}
                      %span.glyphicon.glyphicon-remove
          -if current_user.id == track.user_id
            .btn.btn-circle-micro.btn-primary.glyphicon
              %span= link_to "".html_safe, delete_track_path(track.id),method: :delete, class: 'glyphicon-trash'
          - else
      - else
%script{:src => "https://raw.githubusercontent.com/73rhodes/bbplayer/master/js/bbplayer.js"}
