.row.col-md-12
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#home"} TRACKS
    %li
      %a{"data-toggle" => "tab", :href => "#menu1"} Menu 1
    %li
      %a{"data-toggle" => "tab", :href => "#menu2"} Menu 2
    %li
      %a{"data-toggle" => "tab", :href => "#menu3"} Menu 3
  .tab-content
    #home.tab-pane.fade.in.active
      %h3 All my tracks
      %p 
        - @tracks.each do |track|
          .sound-content.gutter.col-md-2.col-sm-4.col-lg-3
            = link_to track_path(track.id) do
              .covermusic
                = image_tag track.avatar.url, class: 'img-responsive'
            %p
            .name_user
              = find_email(track.user_id)
            / /* audio player */
            .audio-player
              .bbplayer
                %span.bb-rewind
                %span.bb-play
                %span.bb-forward
                %span.bb-trackTime
                %span.bb-trackLength
                %span.bb-trackTitle
                %audio
                  %source{:src => "#{track.audio.url}"}
                  %source{:src => "#{track.audio.url}"}
            / /* bouton pour supprimer */
            .sound-footer
              %p.like-delete
                = track.score
                = link_to "<i class='fa fa-heartbeat fa-lg'></i>".html_safe, like_track_path(track), method: :put
                = link_to "<i class='fa fa-trash-o fa-lg'></i>".html_safe, delete_track_path(track.id),method: :delete
            %script{:src => "https://raw.githubusercontent.com/73rhodes/bbplayer/master/js/bbplayer.js"}
    #menu1.tab-pane.fade
      %h3 Menu 1
      %p En cours
    #menu2.tab-pane.fade
      %h3 Menu 2
      %p En cours
    #menu3.tab-pane.fade
      %h3 Menu 3
      %p En cours