.row.contenttrack-show
  .covermusic-show.col-md-4.col-lg-4
    = image_tag @track.avatar.url, class: 'img-show'
  .sound-content-show.col-md-6.col-lg-6
    .name_user
      %b
        = find_email(@track.user_id)
    .audio-player-show
      .bbplayer
        %span.bb-rewind
        %span.bb-play
        %span.bb-forward
        %span.bb-trackTime
        %span.bb-trackLength
        %span.bb-trackTitle
        %audio
          %source{:src => "#{@track.audio.url}"}
          %source{:src => "#{@track.audio.url}"}
          %source{:src => "#{@track.audio.url}"}
          %source{:src => "#{@track.audio.url}"}
    .sound-footer-show
      %p.like-delete-show
        .track_button
          = link_to like_track_path(@track), method: :put do
            %i.fa.fa-heartbeat.fa-lg
            J'aime
            = @track.score
        .track_button
          = link_to delete_track_path(@track.id), method: :delete do
            %i.fa.fa-trash-o.fa-lg
            Ordure
        .track_button
          = link_to new_message_path(:user => @track.user_id), method: :post do
            %i.fa.fa-envelope-o
            Message
      .comment_all
        %i.fa.fa-comment-o
          Commentaires:
        %hr
        = render "comments/index"
%script{:src => "https://raw.githubusercontent.com/73rhodes/bbplayer/master/js/bbplayer.js"}
