= render 'layouts/flash_alert_devise'
.row
  .sign_up
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .field
        = f.label "firstname"
        %br
        = f.text_field :firstname, autofocus: true
        %br
      .field
        = f.label "lastname"
        %br
        = f.text_field :lastname, autofocus: true
        %br
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, size: "50x50"
      .field
        = f.label :password
        - if @minimum_password_length
          %br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
        %br
      .actions
        = f.submit "Sign up", class: "btn btn-primary"
    = render "devise/shared/links"