.row
  .sign_up
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label "firstname"
        %br
        = f.text_field :firstname, autofocus: true
        %br
      .field
        = f.label "lastname"
        %br
        = f.text_field :lastname, autofocus: true
        %br
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, size: "50x50"
      .row
        .field
          .password.col-md-6
            = f.label :password, class: "label_password"
            - if @minimum_password_length
              %br/
            = f.password_field :password, autocomplete: "off"
        .field
          .passconf.col-md-6
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
        %br
      .actions
        = f.submit "Sign up", class: "btn btn-primary"
    = render "devise/shared/links"
