= form_for(@comment) do |c|
  = c.text_area  :content, :cols => 35, :rows => 4, class: "form-control"
  %br
  = c.hidden_field :user_id, value: current_user.id
  = c.hidden_field :track_id, value: locals[:track][:id]
  = c.submit "poster votre commentaire", class: "btn btn-primary btn-sm"
