= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .log_in
    .row
      .header_log
        .titre_log
          %h2 Log in Decibel
      .field_email
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, size: '35x35'
      .field_pass
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", size: '35x35'
      - if devise_mapping.rememberable?
        .field_remember
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in", class: "btn btn-primary"
      .actions_2
        = render "devise/shared/links"
